[umls]
mm_bin: /Absolute/Path/to/MetaMap/public_mm/bin 
data_year: 2018AA
data_version: Base

[meddra]
query_url: "/annotator?ontologies=http://data.bioontology.org/ontologies/MEDDRA&text="
rest_url: http://data.bioontology.org
options: "&longest_only=true&exclude_numbers=false&whole_word_only=true&exclude_synonyms=true "
api_key: your-bioportal-api-key-here
